.container
  text-align: center
  margin: 50px 0 30px

.element
  display: inline-block
  height: 225px
  margin: 5px

  @media (max-width: 768px)
    height: 175px

  @media (max-width: 430px)
    display: block
    height: auto
    width: 100%
  
