{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "node": true
  },
  "plugins": ["react", "import"],
  "rules": {
    "no-cond-assign": ["error", "always"],
    "class-methods-use-this": 2,
    "arrow-parens": 0,
    "complexity": ["error", 6],
    "max-len": ["error", { "code": 100, "ignoreStrings": true }],
    "curly": 2,
    "eqeqeq": ["error", "always", {"null": "ignore"}],
    "no-alert": 2,
    "no-fallthrough": 2,
    "no-implicit-globals": 2,
    "no-magic-numbers": ["error", { "ignoreArrayIndexes": true, "enforceConst": true }],
    "no-with": 2,
    "radix": "error",
    "no-unused-vars": 2,
    "comma-dangle": ["error", "never"],
    "comma-spacing": ["error", { "before": false, "after": true }],
    "semi": ["error", "never"],
    "constructor-super": 2,
    "prefer-arrow-callback": "error",
    "prefer-template": 2,
    "prefer-const": 2,

    "react/jsx-no-bind": 2,
    "react/jsx-filename-extension": 0,
    "react/react-in-jsx-scope": 2,
    "react/no-unused-prop-types": 1,
    "react/no-multi-comp": 2,
    "react/jsx-key": 1,
    "react/self-closing-comp": 2,
    "react/no-unknown-property": 2,
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/jsx-wrap-multilines": 2,

    "import/imports-first": 2,
    "import/newline-after-import": 2,
    "import/no-extraneous-dependencies": 0,
    "import/no-absolute-path": 2,
    "import/no-unresolved": 2,
    "import/no-duplicates": 2,
    "import/no-mutable-exports": 2,
    "import/max-dependencies": ["error", {"max": 10}]
  }
}
