.titleContainer {
  height: 70px;
}

.backgroundContainer {
  background-image: url('./images/background.jpg');
  min-height: 300px;
}

.title {
  background-color: rgba(58, 58, 58, 0.45);
  margin: 0;
  font-size: 60px;
  text-transform: uppercase;
}

.titleLink {
  text-decoration: none;
}

.noncolored {
  color: #fff;
}

.colored {
  color: $color-primary-dark;
}

.linksContainer {
  background-color: $color-primary-dark;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.link {
  color: #fff;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
  margin-right: 17px;
  text-decoration: none;
  transition: color 0.4s;

  &:hover {
    color: $color-primary;
  }
}

.external {
  display: flex;
}

.iconContainer {
  width: 35px;
  height: 35px;
  margin-right: 12px;
}

.icon {
  display: block;
  width: 100%;
}
