.container {
  width: 40px;
  height: 40px;
  margin: 100px auto;

  .cube {
    width: 33%;
    height: 33%;
    background-color: $color-primary-dark;
    float: left;
    animation: cubeGridScaleDelay 1.3s infinite ease-in-out;
  }

  &.white {
    .cube {
      background-color: #fff;
    }
  }
}

.container .cube1 {
  animation-delay: 0.2s;
}
.container .cube2 {
  animation-delay: 0.3s;
}
.container .cube3 {
  animation-delay: 0.4s;
}
.container .cube4 {
  animation-delay: 0.1s;
}
.container .cube5 {
  animation-delay: 0.2s;
}
.container .cube6 {
  animation-delay: 0.3s;
}
.container .cube7 {
  animation-delay: 0s;
}
.container .cube8 {
  animation-delay: 0.1s;
}
.container .cube9 {
  animation-delay: 0.2s;
}

@-webkit-keyframes cubeGridScaleDelay {
  0%, 70%, 100% {
    transform: scale3D(1, 1, 1);
  } 35% {
    transform: scale3D(0, 0, 1);
  }
}

@keyframes cubeGridScaleDelay {
  0%, 70%, 100% {
    transform: scale3D(1, 1, 1);
  } 35% {
    transform: scale3D(0, 0, 1);
  }
}
