.container {
  padding: 50px 0 20px;
  background: $color-primary-dark;
  color: $color-primary;
  text-align: center;
}

.content {
  border-top: 1px solid rgba(255,255,255,.1);
  padding-top: 15px;
}

.email {
  color: #fff;
}
